{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "ddb_proxy", "0.1.0",
        [
         kernel,
         stdlib,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ddb_proxy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, ddb_proxy, [{incl_cond, include}]}
      ]}.

{target_dir, "ddb_proxy"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "etc"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"},
           {copy, "../share", "share"},
           {template, "../schema/ddb_proxy.schema", "share/schema/00-ddb_proxy.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/01-vm.schema"},
           {template, "../deps/dqe_idx_pg/priv/dqe_idx_pg.schema", "share/schema/02-dqe_idx_pg.schema"},
           {template, "../schema/lager.schema", "share/schema/03-lager.schema"}
           ]}.
